{% extends "base.html" %}

{% block title %}FS start{% endblock title %}

 {% block heading %}Проекти та документи{% endblock heading %}

{% block content %}

    <ul id="top_menu">
      <li><a href="#" id="home">Назад</a></li>
      <li><a href="#">Створити</a>
          <ul>
            <li><a href="{% url 'padd' %}">Проект</a></li>
          </ul>
      </li>

    </ul>

    {% if prj_list.count > 0 %}
    <ul>
      {% for prj in prj_list %}
        <li><a href="/pview/{{prj.id}}">{{prj.name}} </a></li>
        
        <i>{{prj.description}}</i>

            <ol class = "doc_list">
              {% for doc in doc_list %}
              {% if doc.prjog == prj %}
                <li>{{doc.description}}</li>
               {% endif %} 
              {% endfor %}  
            </ol>
        
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}